<ion-header>
  <ion-toolbar>
    <div *ngIf="view_type === 'new'">
    <ion-title>Add Request</ion-title>
  </div>
  <div *ngIf="view_type !== 'new'">
    <ion-title>Edit Request</ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="view_type === 'new'">
  <!-- Default Segment -->
<ion-segment  [(ngModel)]="requestData.property_type" (ionChange)="segmentChanged($event)">
  <ion-segment-button value="House">
    <ion-label>House</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Room">
    <ion-label>Room</ion-label>
  </ion-segment-button>
</ion-segment>
</div>
<div>
<ion-card>
 
<ion-item>
  <ion-label position="floating">Title</ion-label>
  <ion-input required [(ngModel)]="requestData.title"></ion-input>
</ion-item>

  <ion-item>
  <ion-label position="floating">Location</ion-label>
  <ion-input required [(ngModel)]="requestData.location"></ion-input>
  </ion-item>

  <ion-card-content>
  <ion-label position="floating">Description</ion-label>
  <ion-input required [(ngModel)]="requestData.description"></ion-input>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item class="ion-activated">
    <ion-icon name="cash-outline" slot="start"></ion-icon>
    <ion-input placeholder="Amount" required [(ngModel)]="requestData.amount"></ion-input> 
     <ion-select required [(ngModel)]="requestData.duration" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Duration">
      <ion-select-option value="Month">Month</ion-select-option>
      <ion-select-option value="Year">Year</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item >
    <ion-icon name="basket" slot="start"></ion-icon>
    <ion-input placeholder="When to move" required [(ngModel)]="requestData.when_to_move"></ion-input> 

  </ion-item>

  <ion-item class="ion-activated">
    <ion-icon name="bed" slot="start"></ion-icon>
  <ion-label position="floating">Furnished: </ion-label>

     <ion-select required [(ngModel)]="requestData.furnished" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Furnished">
      <ion-select-option value="Yes">Yes</ion-select-option>
      <ion-select-option value="No">No</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon name="move" slot="start"></ion-icon>
    <ion-input placeholder="Apartment Size" required [(ngModel)]="requestData.size"></ion-input> 
    <ion-select required [(ngModel)]="requestData.measurement" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Measurement">
      <ion-select-option value="Sq">Sq</ion-select-option>
      <ion-select-option value="Cm">Cm</ion-select-option>
    </ion-select>
  </ion-item>
</ion-card>

<hr>
<div *ngIf="requestData.property_type === 'House'">
    <ion-row button>
    <ion-col size="6">
      <h5 style="text-align: center;">Bedrooms:
      </h5>
      
    <ion-input placeholder="Select Amount" required [(ngModel)]="requestData.bedrooms"></ion-input> 

    </ion-col>
    <ion-col size="6">
      <h5 style="text-align: center;">Bedrooms:
   </h5>
    <ion-input placeholder="Select Amount" required [(ngModel)]="requestData.bathrooms"></ion-input> 
    </ion-col>
     <ion-col size="6">
       <h5 style="text-align: center;">Building Type:
   </h5>
    <ion-input placeholder="Type" required [(ngModel)]="requestData.building_type"></ion-input>
  </ion-col>
</ion-row>
</div>
<div style="padding: 20px" *ngIf="requestData.property_type === 'House' || requestData.property_type === 'Place'">
<strong>Features</strong>
<ion-grid>
  <ion-row>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.high_rise"></ion-checkbox> High Rise </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.low_rise"></ion-checkbox> Low Rise </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.disability_access"></ion-checkbox> Disability access </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.door_man"></ion-checkbox> Doorman </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.elevator"></ion-checkbox> Elevator </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.walkup"></ion-checkbox> Walkup </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.health_club"></ion-checkbox> Health Club </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.laundromat"></ion-checkbox> Laundromat </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.covered_parking"></ion-checkbox> Covered Parking </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.garage"></ion-checkbox> Garage </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.parking_lot"></ion-checkbox> Parking Lot </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.street_parking"></ion-checkbox> Street Parking </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.near_bus_stop"></ion-checkbox> Near Bus Stop </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.near_subway"></ion-checkbox> Near Subway </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.electronic_security"></ion-checkbox> Electronic Security </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.security"></ion-checkbox> Security </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.swimming_pool"></ion-checkbox> Swimming Pool </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.internet"></ion-checkbox> Internet </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Hfeatures.wireless_internet"></ion-checkbox> Wireless Internet </ion-col>

</ion-row>
</ion-grid>
</div>
<div style="padding: 20px" *ngIf="requestData.property_type === 'Room'">
  <strong>Features</strong>
<ion-grid>
  <ion-row>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.air_condition"></ion-checkbox> Air Condition </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.deck_or_patio"></ion-checkbox> Deck or Patio </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.wood_floors"></ion-checkbox> Wood Floors </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.yard"></ion-checkbox> Yard </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.carpet"></ion-checkbox> Carpet </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.storage"></ion-checkbox> Storage </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.gym"></ion-checkbox> Gym </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.parking"></ion-checkbox> Parking </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.elevator"></ion-checkbox> Elevator </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.fireplace"></ion-checkbox> Fireplace </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.laundry"></ion-checkbox> Laundry </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.jacuzzi"></ion-checkbox> Jacuzzi </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.dishwasher"></ion-checkbox> Dishwasher </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.pool"></ion-checkbox> Pool </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.private_bedroom"></ion-checkbox> Private Bedroom </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.phone_jack"></ion-checkbox>Phone Jack </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.private_entrance"></ion-checkbox> Private Entrance </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.cable_tv_jack"></ion-checkbox> Cable TV jack </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.private_closet"></ion-checkbox> Private Closet </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.internet"></ion-checkbox> Internet </ion-col>
    <ion-col size="6"><ion-checkbox [(ngModel)]="requestData.Rfeatures.wireless_internet"></ion-checkbox> Wireless Internet </ion-col>
</ion-row>
</ion-grid>


<strong>Household</strong>
<ion-grid>
  <ion-row>
    <ion-col size="6">Age: </ion-col>
    <ion-col size="6">
    <ion-input placeholder="Min Age" required [(ngModel)]="requestData.household.min_age"></ion-input> 
    </ion-col>  <ion-col size="6"> 
    <ion-input placeholder="Max Age" required [(ngModel)]="requestData.household.max_age"></ion-input> 
    </ion-col>
    <ion-col size="6">Household Number: <br>
    <ion-input placeholder="Number" required [(ngModel)]="requestData.household.household_no"></ion-input></ion-col>
    <ion-col size="6">Household Sex: <br>
<ion-select required [(ngModel)]="requestData.household.household_sex" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Sex">
      <ion-select-option value="Male">Male</ion-select-option>
      <ion-select-option value="Female">Female</ion-select-option>
    </ion-select>
</ion-col>
</ion-row>
</ion-grid>

<strong>Residence</strong>
<ion-grid>
  <ion-row>
    <ion-col size="6">Building Type: <br> 
    <ion-input placeholder="Type" required [(ngModel)]="requestData.building_type"></ion-input> 
  </ion-col>
    <ion-col size="6">Move-in-fee: <br> 
    <ion-input placeholder="Fee" required [(ngModel)]="requestData.residence.move_in_fee"></ion-input> 
   </ion-col>
    <ion-col size="6">Utilities Cost: <br> 
    <ion-input placeholder="Cost" required [(ngModel)]="requestData.residence.utilities_cost"></ion-input> 
  </ion-col>
    <ion-col size="6">Parking Rent:<br>  
    <ion-input placeholder="Rent" required [(ngModel)]="requestData.residence.parking_rent"></ion-input> 
</ion-col>
</ion-row>
</ion-grid>

<strong>Lifestyle</strong>
<ion-grid>
  <ion-row>
   <ion-col size="6">My Cleanliness: <br> 
<ion-select required [(ngModel)]="requestData.lifestyle.cleanliness" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select...">
      <ion-select-option value="Average">Average</ion-select-option>
    </ion-select>
</ion-col>
<ion-col size="6">Overnight Guests: <br> 
<ion-select required [(ngModel)]="requestData.lifestyle.overnight_guests" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select...">
      <ion-select-option value="Rarely">Rarely</ion-select-option>
    </ion-select>
  </ion-col>
<ion-col size="6">Party Habits: <br> 
<ion-select required [(ngModel)]="requestData.lifestyle.party_habits" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select...">
      <ion-select-option value="Rarely">Rarely</ion-select-option>
    </ion-select>
  </ion-col>
<ion-col size="6">I get up:<br>
<ion-select required [(ngModel)]="requestData.lifestyle.get_up" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select...">
      <ion-select-option value="8AM">8AM</ion-select-option>
    </ion-select>
  </ion-col>
  <ion-col size="6">Go to bed:<br>
<ion-select required [(ngModel)]="requestData.lifestyle.go_to_bed" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select...">
      <ion-select-option value="9PM">9PM</ion-select-option>
    </ion-select>
  </ion-col>
<ion-col size="6">Food preference: <br> 
<ion-select required [(ngModel)]="requestData.lifestyle.food_preference" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select...">
      <ion-select-option value="Fresh">Fresh</ion-select-option>
    </ion-select>
</ion-col>
<ion-col size="6">Smoker: <br> 
<ion-select required [(ngModel)]="requestData.lifestyle.smoker" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select...">
      <ion-select-option value="Outside Only">Outside Only</ion-select-option>
    </ion-select>
</ion-col>
<ion-col size="6">Work Schedule: <br> 
<ion-select required [(ngModel)]="requestData.lifestyle.work_schedule" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select...">
      <ion-select-option value="9-5">9-5</ion-select-option>
    </ion-select>
</ion-col>
<ion-col size="6">Occupation: <br> 
<ion-select required [(ngModel)]="requestData.lifestyle.occupation" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select...">
      <ion-select-option value="Student">Student</ion-select-option>
    </ion-select>
</ion-col>

</ion-row>
</ion-grid>
  <strong>Pets Owned:</strong>
<ion-grid>
  <ion-row>
    <ion-col size="3">
  <ion-checkbox [(ngModel)]="requestData.lifestyle.pets_owned.dogs"></ion-checkbox> Dog
  </ion-col>
    <ion-col size="3">
  <ion-checkbox [(ngModel)]="requestData.lifestyle.pets_owned.cats"></ion-checkbox> Cat
  </ion-col>
  <ion-col size="3">
  <ion-checkbox [(ngModel)]="requestData.lifestyle.pets_owned.birds"></ion-checkbox> Birds
  </ion-col>
  <ion-col size="3">
  <ion-checkbox [(ngModel)]="requestData.lifestyle.pets_owned.reptiles"></ion-checkbox> Reptiles
  </ion-col>
  <ion-col size="3">
  <ion-checkbox [(ngModel)]="requestData.lifestyle.pets_owned.fish"></ion-checkbox> Fish
  </ion-col>
  <ion-col size="6">
  <ion-checkbox [(ngModel)]="requestData.lifestyle.pets_owned.small_pets"></ion-checkbox> Small Pets
  </ion-col>
</ion-row>

</ion-grid>


<strong>Roommate Preference</strong>
<ion-grid>
  <ion-row>
    <ion-col size="6">Age: </ion-col>
    <ion-col size="6">
    <ion-input placeholder="Min Age" required [(ngModel)]="requestData.roommate_preference.min_age"></ion-input> 
    </ion-col>  <ion-col size="6"> 
    <ion-input placeholder="Max Age" required [(ngModel)]="requestData.roommate_preference.max_age"></ion-input> 
    </ion-col>

<ion-col size="6">Smoker: <br> 
<ion-select required [(ngModel)]="requestData.roommate_preference.smoker" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select...">
      <ion-select-option value="Outside Only">Outside Only</ion-select-option>
    </ion-select>
</ion-col>
<ion-col size="6">Students Only: <br> 
<ion-select required [(ngModel)]="requestData.roommate_preference.students_only" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select...">
      <ion-select-option value="No">No</ion-select-option>
    </ion-select>
</ion-col>
</ion-row>
</ion-grid>
  <strong>Preferred Pets:</strong>
  <ion-grid>
  <ion-row>
    <ion-col size="3">
  <ion-checkbox [(ngModel)]="requestData.roommate_preference.preferred_pets.dogs"></ion-checkbox> Dog
  </ion-col>
    <ion-col size="3">
  <ion-checkbox [(ngModel)]="requestData.roommate_preference.preferred_pets.cats"></ion-checkbox> Cat
  </ion-col>
  <ion-col size="3">
  <ion-checkbox [(ngModel)]="requestData.roommate_preference.preferred_pets.birds"></ion-checkbox> Birds
  </ion-col>
  <ion-col size="3">
  <ion-checkbox [(ngModel)]="requestData.roommate_preference.preferred_pets.reptiles"></ion-checkbox> Reptiles
  </ion-col>
  <ion-col size="3">
  <ion-checkbox [(ngModel)]="requestData.roommate_preference.preferred_pets.fish"></ion-checkbox> Fish
  </ion-col>
  <ion-col size="6">
  <ion-checkbox [(ngModel)]="requestData.roommate_preference.preferred_pets.small_pets"></ion-checkbox> Small Pets
  </ion-col>
</ion-row>

</ion-grid>


</div>
</div>
<div *ngIf="view_type === 'new'">
<ion-button (click)="submit()" expand="block">Submit</ion-button>
</div>
<div *ngIf="view_type !== 'new'">
<ion-button (click)="submit()" expand="block">Edit</ion-button>
</div>

</ion-content>
