<ion-header>
  <ion-toolbar>
         <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Connections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

    <ion-list>
    	<div *ngFor="let connection of connections">
 	<ion-item button routerLink="/view-connection/{{connection.username}}" routerDirection="forward">
          <ion-avatar slot="start">
          	 <img *ngIf="connection.photo === 'Google' || connection.photo === 'Facebook'" src="{{connection.photo}}">

            <img *ngIf="connection.photo !== 'Google' || connection.photo !== 'Facebook'" src="https://app.tenantconnect.ie/assets/images/profile/{{usertype}}/{{connection.photo}}">

          </ion-avatar>
          <ion-label>
            <h2><strong>{{connection.username}}</strong></h2>
          </ion-label>
        </ion-item>
    </div>
    </ion-list>

  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/home']" routerDirection="forward">
      <ion-icon name="home" ></ion-icon>
      <ion-label>Home</ion-label>
      <!--<ion-badge>6</ion-badge>-->
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/profile']" routerDirection="forward">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>My Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button >
      <ion-icon name="mail-unread" style="color: #5fff45"></ion-icon>
      <ion-label style="color:#5fff45">Connections</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
