<ion-header>
  <ion-toolbar>
    <ion-title>Connections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

    <ion-list>
    	<div *ngFor="let connection of connections">
 	<ion-item button routerLink="/view-connection/{{connection.username}}" routerDirection="forward">
          <ion-avatar slot="start">
          	 <img *ngIf="connection.photo === 'Google' || connection.photo === 'Facebook'" src="{{connection.photo}}">

            <img *ngIf="connection.photo !== 'Google' || connection.photo !== 'Facebook'" src="https://tenantconnect.ie/assets/images/profile/{{usertype}}/{{connection.photo}}">

          </ion-avatar>
          <ion-label>
            <h2><strong>{{connection.username}}</strong></h2>
          </ion-label>
        </ion-item>
    </div>
    </ion-list>

</ion-content>
