<ion-header>
  <ion-toolbar>
       <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


<ion-item button (click)="openModal()">
    <ion-grid>
    <ion-row>
    <ion-col>
      <img   *ngIf='storedUser.type === "landlords"' src="https://app.tenantconnect.ie/assets/images/profile/landlord/{{profileData.photo}}" alt="">
      <img   *ngIf='storedUser.type === "tenants"' src="https://app.tenantconnect.ie/assets/images/profile/tenant/{{profileData.photo}}" alt="">

    </ion-col>
    <ion-col >
     <ion-button item-content  expand="block" size="small" color="light">
            Change Photo
             <ion-icon slot="end" name="pencil"></ion-icon>
          </ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>

        </ion-item>
  
<ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input [(ngModel)]="profileData.email" ng-disabled='true'></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Username</ion-label>
  <ion-input [(ngModel)]="profileData.username" ng-disabled='true'></ion-input>
</ion-item>
	 
<ion-item>
  <ion-label position="floating">Full Name</ion-label>
  <ion-input [(ngModel)]="profileData.full_name"></ion-input>
</ion-item>
     <ion-item *ngIf="profileData.current_location === ''" (click)="setMap()">
    <ion-label><strong>Current Location Not Set!</strong></ion-label>
    <ion-button color="danger" slot="end">Add</ion-button>
  </ion-item>


  <ion-item *ngIf="profileData.current_location !== ''" (click)="setMap()">
    <ion-label  class="ion-text-wrap"><strong>Current Location:  </strong>{{profileData.current_location}}</ion-label>
    <ion-button color="dark" slot="end">Edit</ion-button>
  </ion-item>

<ion-item>
  <ion-label position="floating">Contact Number</ion-label>
  <ion-input [(ngModel)]="profileData.contact_number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">New Password (Leave blank if you do not want to change it)</ion-label>
  <ion-input [(ngModel)]="profileData.npassword"></ion-input>
</ion-item>




<ion-item button (click)="checkProfile('edit')">
<ion-button (click)="checkProfile('edit')" style="width: 100%" expand="block">Save</ion-button>
</ion-item>
<ion-item style="display: none;">

  <ion-label position="floating">Type</ion-label>
  <ion-input [(ngModel)]="profileData.type"></ion-input>
</ion-item>


  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/home']" routerDirection="forward">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
      <!--<ion-badge>6</ion-badge>-->
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="person" style="color: #5fff45"></ion-icon>
      <ion-label style="color:#5fff45">My Profile</ion-label>
    </ion-tab-button>

      <ion-tab-button [routerLink]="['/connections']" routerDirection="forward">
        <ion-icon name="mail-unread-outline"></ion-icon>
        <ion-label>Connections</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="Logout()">
        <ion-icon name="power-outline"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
