<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
     <img src="../../assets/images/logo.png" style="width: 40px; top: 2px; position: relative;display: inline-block;"> <span (click)="search()" style="
      display: inline-block;
    position: relative;
    top: -10px;
    font-size: 17px;
    left: 1px;
    width: 38%;
    padding: 5px 10px;
    text-align: center;
     " button color="light">
      <span style="margin-right: 5px">Home</span></span>
   
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div style="
    background: linear-gradient( rgba(0,0,0,.6), rgba(0,0,0,.8) ), url(../../assets/images/landlord_login.jpg);
    background-size: cover;
    color: white;
    padding-bottom: 5px;
">
<div style="padding: 5px 20px">
  <h1 style="font-weight: 500;
    font-size: 20px; margin-bottom: 40px">
      Welcome<span *ngIf="storedUser.type !== ''"> Back</span>, {{storedUser.username}}  
    </h1>
     <span style="margin-top: 5px;
    font-size: 15px;
    opacity: .7;
    font-weight: 500;">
      Tenant connect helps you to
    </span>
    <h1 style="font-weight: bold; margin-top: 5px">
      Find a perfect home.
    </h1>
</div>
<span (click)="search()" [routerLink]="['/listing/all']" routerDirection="forward">
  <ion-toolbar style="    background: transparent;
    opacity: .9;" (click)="search()" [routerLink]="['/listing/all']" routerDirection="forward">
  <ion-searchbar placeholder="E.g Duplex around Dublin..."></ion-searchbar>
</ion-toolbar>
  </span>
<hr>
<p style="text-align: center;">
  or browse by:
</p>
</div>
<!-- Item as a Button -->
<ion-grid>
  <ion-row>
<ion-col>
<ion-item button [routerLink]="['/listing/all']" routerDirection="forward">
   <ion-avatar slot="start">
    <ion-icon name="home-outline" style="
    font-size: 30px;
    padding-top: 5px;
    "></ion-icon>
          </ion-avatar>
  <ion-label>
    Listings
  </ion-label>
</ion-item>
</ion-col>
<ion-col>
<ion-item button [routerLink]="['/requests/all']" routerDirection="forward">
  <ion-avatar slot="start">
    <ion-icon name="newspaper-outline" style="
    font-size: 30px;
    padding-top: 5px;
    "></ion-icon>
          </ion-avatar>
  <ion-label>
    Requests
  </ion-label>
</ion-item>
</ion-col>
</ion-row>
</ion-grid>
<span *ngIf="storedUser.type === ''">
  <ion-item button (click)="validateUser()">
   <ion-avatar slot="start">
    <ion-icon name="add-outline" style="
    font-size: 30px;
    padding-top: 5px;
    "></ion-icon>
          </ion-avatar>
  <ion-label>
    Add Listing or Request
  </ion-label>
</ion-item>
</span>
<ion-grid>
  <ion-row>
<ion-col>
<ion-item button [routerLink]="['/add-listing/new']" routerDirection="forward" *ngIf="storedUser.type === 'landlords'">
   <ion-avatar slot="start">
    <ion-icon name="add-outline" style="
    font-size: 30px;
    padding-top: 5px;
    "></ion-icon>
          </ion-avatar>
  <ion-label>
    Add Listing
  </ion-label>
</ion-item>
<ion-item button [routerLink]="['/add-request/new']" routerDirection="forward" *ngIf="storedUser.type === 'tenants'">
   <ion-avatar slot="start">
    <ion-icon name="add-outline" style="
    font-size: 30px;
    padding-top: 5px;
    "></ion-icon>
          </ion-avatar>
  <ion-label>
    Add Request
  </ion-label>
</ion-item>
</ion-col>
</ion-row>
<ion-row>
<ion-col>
<ion-item button [routerLink]="['/listing/owner']" routerDirection="forward" *ngIf="storedUser.type === 'landlords'">
  <ion-avatar slot="start">
    <ion-icon name="star-outline" style="
    font-size: 30px;
    padding-top: 5px;
    "></ion-icon>
          </ion-avatar>
  <ion-label>
    My Listings
  </ion-label>
</ion-item>
<ion-item button [routerLink]="['/requests/owner']" routerDirection="forward" *ngIf="storedUser.type === 'tenants'">
  <ion-avatar slot="start">
    <ion-icon name="star-outline" style="
    font-size: 30px;
    padding-top: 5px;
    "></ion-icon>
          </ion-avatar>
  <ion-label>
    My Requests
  </ion-label>
</ion-item>
</ion-col>
</ion-row>
</ion-grid>


  <!--
<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
  <ion-label position="floating">Floating Label</ion-label>
  <ion-input></ion-input>
</ion-item>
  <div id="container">
    <strong (click)="letsee()">Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>-->
<span *ngIf="storedUser.type !== ''">
  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-icon style="color:#5fff45" name="home"></ion-icon>
      <ion-label style="color:#5fff45">Home</ion-label>
      <!--<ion-badge>6</ion-badge>-->
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/profile']" routerDirection="forward">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>My Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/connections']" routerDirection="forward">
      <ion-icon name="mail-unread-outline"></ion-icon>
      <ion-label>Connections</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</span>

<span *ngIf="storedUser.type === ''">
  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
      <!--<ion-badge>6</ion-badge>-->
    </ion-tab-button>

    <ion-tab-button (click)="validateUser()">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>My Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="validateUser()">
      <ion-icon name="mail-unread-outline"></ion-icon>
      <ion-label>Connections</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</span>
</ion-content>
