
<ion-content>
<ion-item>
          <ion-avatar slot="start">
    <img src="../../assets/images/logo.png">
          </ion-avatar>
          <ion-label>
            <h2>Home</h2>
          </ion-label>
</ion-item>
<div style="padding: 5px 20px">
  <h1 style="font-weight: 500;
    font-size: 20px;">
      Welcome Back, {{storedUser.username}}  
    </h1>
</div>
<hr>

<!-- Item as a Button -->
<ion-item button [routerLink]="['/listing/all']" routerDirection="forward">
   <ion-avatar slot="start">
    <ion-icon name="home-outline" style="
    font-size: 30px;
    padding-top: 5px;
    "></ion-icon>
          </ion-avatar>
  <ion-label>
    Listings
  </ion-label>
</ion-item>
<ion-item button [routerLink]="['/requests/all']" routerDirection="forward">
  <ion-avatar slot="start">
    <ion-icon name="newspaper-outline" style="
    font-size: 30px;
    padding-top: 5px;
    "></ion-icon>
          </ion-avatar>
  <ion-label>
    Requests
  </ion-label>
</ion-item>
<ion-item button [routerLink]="['/add-listing/new']" routerDirection="forward" *ngIf="storedUser.type === 'landlords'">
   <ion-avatar slot="start">
    <ion-icon name="add-outline" style="
    font-size: 30px;
    padding-top: 5px;
    "></ion-icon>
          </ion-avatar>
  <ion-label>
    Add Listing
  </ion-label>
</ion-item>
<ion-item button [routerLink]="['/add-request/new']" routerDirection="forward" *ngIf="storedUser.type === 'tenants'">
   <ion-avatar slot="start">
    <ion-icon name="add-outline" style="
    font-size: 30px;
    padding-top: 5px;
    "></ion-icon>
          </ion-avatar>
  <ion-label>
    Add Request
  </ion-label>
</ion-item>
<ion-item button [routerLink]="['/listing/owner']" routerDirection="forward" *ngIf="storedUser.type === 'landlords'">
  <ion-avatar slot="start">
    <ion-icon name="star-outline" style="
    font-size: 30px;
    padding-top: 5px;
    "></ion-icon>
          </ion-avatar>
  <ion-label>
    My Listings
  </ion-label>
</ion-item>
<ion-item button [routerLink]="['/requests/owner']" routerDirection="forward" *ngIf="storedUser.type === 'tenants'">
  <ion-avatar slot="start">
    <ion-icon name="star-outline" style="
    font-size: 30px;
    padding-top: 5px;
    "></ion-icon>
          </ion-avatar>
  <ion-label>
    My Requests
  </ion-label>
</ion-item>
<ion-item button [routerLink]="['/profile']" routerDirection="forward">
  <ion-avatar slot="start">
    <ion-icon name="person-outline" style="
    font-size: 30px;
    padding-top: 5px;
    "></ion-icon>
          </ion-avatar>
  <ion-label>
    My Profile
  </ion-label>
</ion-item>
<ion-item button [routerLink]="['/connections']" routerDirection="forward">
   <ion-avatar slot="start">
    <ion-icon name="mail-unread-outline" style="
    font-size: 30px;
    padding-top: 5px;
    "></ion-icon>
          </ion-avatar>
  <ion-label>
    Connections
  </ion-label>
</ion-item>
<ion-item style="border: 1px solid #ddd;
    position: absolute;
    bottom: 2px;
    width: 100%;" button (click)="Logout()">
    <ion-avatar slot="start">
    <ion-icon name="power-outline" style="
    font-size: 30px;
    padding-top: 5px;
    "></ion-icon>
          </ion-avatar>
  <ion-label>
    Logout
  </ion-label>
</ion-item>
  <!--
<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
  <ion-label position="floating">Floating Label</ion-label>
  <ion-input></ion-input>
</ion-item>
  <div id="container">
    <strong (click)="letsee()">Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>-->
</ion-content>
