<ion-app>
    <ion-menu side="end" menuId="first" contentId="content1">
        <ion-header>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
          <ion-menu-toggle auto-hide="true">
            <ion-item (click)="home()">
                <ion-icon name="home" slot="start"></ion-icon>
                  	Home
            </ion-item>
            <ion-item (click)="feedback()" >
                <ion-icon name="send-outline" slot="start"></ion-icon>
                  	Send us a feedback
            </ion-item>
            <ion-item (click)="share()" >
            	<ion-icon name="share-social-outline" slot="start"></ion-icon>
                  	Recommend to a friend
            </ion-item>
            <p style="padding: 5px 20px">About</p>
            <ion-item (click)="about()">
            	<ion-icon name="information-circle-outline" slot="start"></ion-icon>
                  	About Tenant Connect
            </ion-item>
            <ion-item (click)="about()" >
            	<ion-icon name="information-circle-outline" slot="start"></ion-icon>
                  	Version: <strong>1.0</strong>
            </ion-item>
            <ion-item (click)="privacy()">
            	<ion-icon name="newspaper-outline" slot="start"></ion-icon>
                  	Privacy Policy
            </ion-item>
            <ion-item (click)="terms()">
            	<ion-icon name="newspaper-outline" slot="start"></ion-icon>
                  	Terms & Condition
            </ion-item>
          </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>